# Visual Studio
.vs/
**/.vs/

# .NET generated folders
**/bin/
**/obj/

# React dependencies
**/node_modules/

# React build output
**/build/
**/dist/

# Environment / secret files
.env
.env.*

# User uploaded files
CampusConnect.API/wwwroot/Uploads/

# Visual Studio user-specific files
*.csproj.user